.services {
    padding: 80px 0;
    width: 100%;
}

.services .services_contant {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    background: url("../../img/light_services.svg") no-repeat center / cover;
}

.services .services_block {
    width: 100%;
    padding: 36px 40px;
    border: 1px solid #5C5C5C;
    background: rgba(255, 255, 255, 0.04);
    cursor: pointer;
    position: relative;
    transition: .2s ease;
}

.services .services_block:hover {
    border: 1px solid rgb(212, 21, 28, 0.5);
    background: linear-gradient(0deg, rgba(200, 30, 30, 0.10) 0%, rgba(200, 30, 30, 0.10) 100%), rgba(255, 255, 255, 0.04);
}

.services .services_block:hover::after {
    position: absolute;
    top: 35px;
    right: 35px;
    content: url("../../img/arrow.svg");
}

.services .services_title {
    margin-top: 24px;
    font-size: 26px;
    font-weight: 500;
    color: var(--white);
    margin-bottom: 16px;
}

.services .circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.services .services_block p {
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    color: var(--gray);
}

@media (max-width: 1000px) {
    .services .services_contant {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .services .services_contant {
        margin-top: 20px;
    }

    .services {
        padding: 40px 0;
    }

    .services .services_contant {
        display: grid;
        grid-template-columns: 1fr;
    }

    .services .services_block {
        padding: 24px;
    }

    .services .services_title {
        margin-top: 16px;
        font-size: 16px;
        font-weight: 500;
        color: var(--white);
        margin-bottom: 16px;
    }

    .services .services_block p {
        margin-top: 6px;
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 14px;
        font-weight: 400;
        color: var(--gray);
    }
}