.about .title {
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    font-weight: 500;
    color: var(--white);
}

.about .title_text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--red);
}

@media (max-width: 600px) {
    .about .title {
        text-align: center;
        margin-top: 5px;
        font-size: 20px;
        font-weight: 500;
        color: var(--white);
    }

    .about .title_text {
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        color: var(--red);
    }
}