.use {
    width: 100%;
    padding: 80px 0;
}

.use .use_contant {
    margin: 0 auto;
    width: 75%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.use .use_box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.10);
    transition: .2s ease;
}

.use .use_box:hover {
    background: linear-gradient(0deg, rgba(200, 30, 30, 0.10) 0%, rgba(200, 30, 30, 0.10) 100%), var(--white-10, rgba(255, 255, 255, 0.10));
}

.use .use_box p {
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
}

@media (max-width: 600px) {
    .use {
        padding: 40px 0;
    }

    .use .use_contant {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

    .use .use_box {
        padding: 10px;
        gap: 6px;
    }

    .use .use_box p {
        font-size: 10px;
    }
}