.event {
    padding-top: 140px;
}

.event .title_event {
    font-size: 26px;
    font-weight: 400;
    color: var(--white);
}

.event .boxs {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.event .boxs .box {
    width: 100%;
    height: 570px;
    padding: 20px;
    border: 1px solid var(--gray2, #5C5C5C);
    background: rgba(255, 255, 255, 0.04);
    cursor: pointer;
    position: relative;
    transition: 2.s ease;
}

.event .boxs .box .image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
}

.event .boxs .box:hover {
    border: 1px solid rgb(212, 21, 28, 0.5);
    background: linear-gradient(0deg, rgba(200, 30, 30, 0.10) 0%, rgba(200, 30, 30, 0.10) 100%), rgba(255, 255, 255, 0.04);
}

.event .boxs .box:hover::after {
    position: absolute;
    bottom: 35px;
    right: 35px;
    content: url("../../img/arrow.svg");
}

.event .boxs .box .cate {
    display: flex;
    gap: 15px;
}

.event .boxs .box .cate .level,
.event .boxs .box .cate .day {
    padding: 5px 14px;
    font-size: 12px;
    font-weight: 500;
    color: var(--white);
    border-radius: 50px;
}

.event .boxs .box .cate .day {
    background: rgba(89, 153, 248, 0.20);
}

.event .boxs .box .cate .level {
    background: rgba(89, 248, 96, 0.20);
}

.event .line {
    width: 40%;
    height: 1px;
    background: #cdcdcd7c;
    margin: 20px 0;
}

.event .title_box {
    margin-top: 20px;
    font-size: 26px;
    font-weight: 400;
    color: var(--white);
}

.event .text_box {
    font-size: 16px;
    font-weight: 300;
    color: var(--grayH);
    height: 92px;
    overflow: hidden;
}

.event .detail {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.event .flex {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    color: var(--gray);
}


@media (max-width: 600px) {
    .event {
        padding-top: 100px;
    }

    .event .boxs {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .event .boxs .box {
        width: 100%;
        height: 480px;
        padding: 20px;
    }

    .event .categoryes {
        margin-top: 20px;
        gap: 10px;
    }

    .event .title_box {
        margin-top: 24px;
        font-size: 16px;
        font-weight: 400;
    }

    .event .text_box {
        font-size: 14px;
        font-weight: 300;
        height: 88px;
        overflow: hidden;
    }

    .event .boxs .box .image {
        width: 100%;
        height: 160px;
    }

    .event .detail {
        margin-top: 14px;
    }

    .event .flex {
        gap: 12px;
        font-size: 14px;
    }

    .event .line {
        margin: 16px 0;
    }
}