.aboutt {
    width: 100%;
    padding: 80px 0;
}

.aboutt .about_comp {
    width: 100%;
    padding: 80px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
}

.aboutt .flex {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 320px;
    gap: 40px;
    align-items: center;
}

.aboutt .flex img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.aboutt .flex .user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.aboutt .flex .title_about {
    font-size: 55px;
    font-weight: 400;
    line-height: 1;
    color: var(--white);
}

.aboutt .box_text,
.aboutt .flex .user_title {
    font-size: 26px;
    font-weight: 400;
    color: var(--white);
}

.aboutt .flex .user_text {
    font-size: 16px;
    font-weight: 300;
    color: var(--white);
}

.aboutt .about_gallery {
    margin-top: 30px;
    width: 100%;
    min-height: 660px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.aboutt .about_gallery .image {
    height: 100%;
}

.aboutt .about_gallery .grid {
    min-height: 660px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aboutt .about_gallery .grid_two {
    min-height: 660px;
    display: grid;
    gap: 20px;
}

.aboutt .about_gallery .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.aboutt .about_gallery .image_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 39px;
    background: rgba(255, 255, 255, 0.04);
    padding: 0px 20px;
}

.aboutt .about_comp .title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.aboutt .about_comp .title_text {
    text-align: start !important;
}

.aboutt .about_comp .about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aboutt .about_comp .about_text {
    width: 75%;
    font-size: 20px;
    font-weight: 400;
    color: var(---, #E1E1E1);
}

@media (max-width: 800px) {
    .about_comp {
        padding-top: 20px;
        padding-bottom: 40px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .about_comp .title,
    .about_comp .title_text {
        text-align: start !important;
        display: none;
    }
}

@media (max-width: 600px) {
    .title_box {
        margin-top: 40px;
        display: block;
    }

    .services .services_block {
        padding: 24px;
    }

    .services .services_title {
        margin-top: 16px;
        font-size: 16px;
        font-weight: 500;
        color: var(--white);
        margin-bottom: 16px;
    }

    .about_comp .about_text {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        color: var(---, #E1E1E1);
    }

    .about_comp .button_form_two {
        margin: 0 auto;
        margin-top: 20px;
        padding: 10px;
    }
}

.aboutt .about_gallery.block {
    display: none;
}

@media (max-width: 600px) {
    .aboutt {
        padding: 40px 0;
    }

    .aboutt .about_gallery.block {
        display: block;
    }

    .aboutt .image.max {
        height: 240px;
    }

    .aboutt .about_gallery.none {
        display: none;
    }

    .aboutt .flex {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        align-items: center;
    }

    .aboutt .flex .title_about {
        font-size: 20px;
        font-weight: 400;
        line-height: 1;
        color: var(--white);
    }

    .aboutt .box_text,
    .aboutt .flex .user_title {
        font-size: 16px;
        font-weight: 400;
        color: var(--white);
    }

    .aboutt .flex .user_text {
        font-size: 14px;
        font-weight: 300;
        color: var(--white);
    }

    .about .user {
        gap: 12px;
    }

    .aboutt .flex img {
        width: 40px;
        height: 40px;
    }

    .aboutt .about_gallery {
        margin-top: 30px;
        width: 100%;
        min-height: 660px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .aboutt .about_gallery .grid {
        min-height: 160px;
        height: 160px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin: 10px 0;
    }
}