.contact {
    padding-top: 80px;
    width: 100%;
}

.contact .title {
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    font-weight: 500;
    color: var(--white);
}

.contact .title_text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--red);
}

.contact .contact_title {
    margin-top: 50px;
    font-size: 26px;
    font-weight: 400;
    color: var(--white);
}

.contact .address_text.d {
    color: var(--red);
}

.contact .address {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.contact .address_text {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    color: var(--gray);
}

.contact .image_box {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.contact .margin {
    width: 100%;
    height: 80px;
}

.contact .map {
    margin-top: 40px;
    width: 100%;
    height: 400px;
}

@media (max-width: 600px) {
    .projects_all .title {
        margin-top: 80px;
        font-size: 26px;
    }

    .projects_all {
        padding: 40px 0;
    }

    .projects_all .projects_wrapper {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .projects_all .projects_box p {
        font-size: 14px;
    }

    .contact .contact_title {
        margin-top: 30px;
        font-size: 26px;
        font-weight: 400;
        color: var(--white);
    }

    .contact .address_text.d {
        color: var(--red);
    }

    .contact .address {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .contact .address_text {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 14px;
        font-weight: 400;
        color: var(--gray);
    }
}