.footer {
    margin-top: 200px;
    padding-top: 60px;
    width: 100%;
    background: rgba(255, 255, 255, 0.04);
    padding-bottom: 20px;
}

.footer .footer_block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 100px;
}

.footer .footer_box .footer_title {
    font-size: 30px;
    font-weight: 400;
    color: var(--white);
    margin-bottom: 14px;
}

.footer .text_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer .footer_box .footer_name {
    font-size: 20px;
    font-weight: 400;
    color: var(--white);
    margin-bottom: 20px;
}

.footer .footer_box .text {
    font-size: 16px;
    font-weight: 400;
    color: var(--gray);
}

.footer .footer_text {
    text-align: center;
    margin-top: 65px;
    font-size: 12px;
    font-weight: 400;
    color: #5C5C5C;
}

.footer .image_box {
    display: flex;
    align-items: center;
    gap: 14px;
}

.footer .address {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer .address_text {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    color: var(--gray);
}