.icon_compony {
    margin: 0 auto;
    padding: 80px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon_compony .slide {
    width: 100%;
}

.icon_compony .slide img {
    margin: 0 auto;
}

@media (max-width: 600px) {
    .icon_compony {
        margin: 0 auto;
        padding: 40px 0;
        width: 100%;
        display: flex;
        gap: 15px;
        overflow-y: hidden;
    }
}