@import 'aos/dist/aos.css';

@font-face {
    font-family: Gilroy;
    src: url("../src/fonts/Gilroy-Black.ttf");
    font-weight: 100;
}

@font-face {
    font-family: Gilroy;
    src: url("../src/fonts/Gilroy-UltraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: Gilroy;
    src: url("../src/fonts/Gilroy-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Gilroy;
    src: url("../src/fonts/Gilroy-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Gilroy;
    src: url("../src/fonts/Gilroy-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Gilroy;
    src: url("../src/fonts/Gilroy-Semibold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Gilroy;
    src: url("../src/fonts/Gilroy-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Gilroy;
    src: url("../src/fonts/Gilroy-Extrabold.ttf");
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy, sans-serif;
}

.App {
    background: #0A0A0B;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

:root {
    --orange: linear-gradient(269deg, #D4151C 53.65%, rgba(249, 191, 78, 0.80) 129.43%);
    --orange: linear-gradient(90deg, rgba(212, 21, 28, 1) 20%, rgb(129, 107, 255) 100%);
    --orangeH: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), linear-gradient(269deg, #EE3B3B 62.83%, rgba(249, 191, 78, 0.80) 129.43%);
    --orangeH: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), linear-gradient(269deg, #EE3B3B 62.83%, rgba(249, 191, 78, 0.80) 129.43%);
    --red: #D4151C;
    --gray: #B5B5B5;
    --white: #fff;
}

.not_found {
    width: 100%;
    padding-top: 250px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.not_found .not_found_text {
    font-size: 30px;
    font-weight: 500;
    color: var(--white);
}

.not_found .not_found_text .not {
    font-size: 80px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

*::selection {
    background: var(--red);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 6px;
    transition: background-color 0.3s;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: #171822;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ab1116;
}

::-webkit-scrollbar-thumb:active {
    background-color: #e1161d;
}

.title {
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    font-weight: 500;
    color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title_text {
    margin: 0 auto;
    /* text-align: center; */
    font-size: 18px;
    font-weight: 400;
    display: inline;
    background: linear-gradient(90deg, rgba(255, 88, 94, 1) 38%, rgba(149, 134, 255, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 600px) {
    .main .title {
        text-align: center;
        margin-top: 5px;
        font-size: 20px;
        font-weight: 500;
        color: var(--white);
    }

    .main .title_text {
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        color: var(--red);
    }
}