.about_nav {
    width: 100%;
    padding-top: 140px;
    padding-bottom: 80px;
}

.about_nav img {
    width: 100%;
    min-height: 160px;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
}

.about_nav .clients {
    margin: 0 auto;
    margin-top: 70px;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.about_nav .clients div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_nav .clients .client {
    font-size: 35px;
    font-weight: 400;
    color: var(--white);
}

.about_nav .clients p {
    font-size: 20px;
    font-weight: 400;
    color: var(--gray);
}

@media (max-width: 600px) {
    .about_nav {
        padding-bottom: 0;
    }

    .about_nav .clients {
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 40px;
        width: 100%;
    }

    .about_nav .clients .client {
        font-size: 26px;
        font-weight: 600;
        color: var(--white);
    }

    .about_nav .clients p {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: var(--gray);
    }
}