.nav {
    width: 100%;
    padding-top: 250px;
    padding-bottom: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: url("../../img/light.svg"); */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.video-container.bac {
    z-index: 2;
    background: rgb(10, 10, 11);
    background: linear-gradient(0deg, rgba(10, 10, 11, 1) 0%, rgba(0, 0, 0, 0) 80%);
}

video {
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* .nav .video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
} */

.nav .nav_container {
    width: 100%;
    position: relative;
    z-index: 2;
}

.nav .it_compony {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--gray);
}

.nav h1 {
    margin: 0 auto;
    margin-top: 15px;
    width: 75%;
    text-align: center;
    font-size: 55px;
    font-weight: 600;
    color: var(--white);
}

.nav .product {
    background: var(--red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav .nav_text {
    margin: 0 auto;
    width: 40%;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: var(--gray);
}

.nav .btns {
    margin-top: 40px;
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav .btns .cons {
    border: 1px solid var(--gray);
    background: none;
}

.nav .btns .bay{
    background: var(--red);
}

.nav .btns .cons:hover {
    border: 1px solid var(--red);
    background: var(--red);
}

.nav .clients {
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.nav .clients div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav .clients .client {
    font-size: 35px;
    font-weight: 400;
    color: var(--white);
}

.nav .clients p {
    font-size: 20px;
    font-weight: 400;
    color: var(--gray);
}

@media (max-width: 600px) {
    .nav .it_compony {
        font-size: 12px;
    }

    .nav {
        padding-top: 150px;
        padding-bottom: 0;
    }

    .nav_container {
        margin: 0 auto;
        width: 90%;
    }

    .nav .container {
        width: 100%;
    }

    .nav h1 {
        margin-top: 16px;
        width: 300px;
        text-align: center;
        line-height: 1.2;
        font-size: 30px;
        font-weight: 600;
        color: var(--white);
    }

    .nav .nav_text {
        width: 80%;
        text-align: center;
        margin-top: 20px;
        font-size: 12px;
        font-weight: 400;
        color: var(--gray);
    }

    .nav .clients {
        display: none;
    }

    .nav .btns {
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .nav .btns .cons {
        border: 1px solid var(--gray);
    }
}